<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BPG_Costing.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <BPG_Costing.My.MySettings>
            <setting name="DBCoPP" serializeAs="String">
                <value>Data Source=BRAND-NYDC1\MAS500;Initial Catalog=mas500_app;Persist Security Info=True;User ID=AppDev;Password=@pplicationPW</value>
            </setting>
            <setting name="NewPrice" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="MidPrice" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="OldPrice" serializeAs="String">
                <value>61</value>
            </setting>
            <setting name="DBCon" serializeAs="String">
                <value>server=localhost; uid=root; pwd=sa@1234; database=zuhadymy_bpg_costing; convert zero datetime=true;</value>
            </setting>
        </BPG_Costing.My.MySettings>
    </applicationSettings>
</configuration>